GEMINI_API_KEY=MY_GEMINI_API_KEY
FIREBASE_API_KEY=DEFAULT_FIREBASE_API_KEY
FIREBASE_APP_ID=DEFAULT_FIREBASE_APP_ID
FIREBASE_PROJECT_ID=DEFAULT_FIREBASE_PROJECT_ID
GOOGLE_WEB_CLIENT_ID=DEFAULT_GOOGLE_WEB_CLIENT_ID
